<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    home页面
    <ul class="list">

    </ul>
    <script>
        fetch('/ceshihome/list').then(res => res.json()).then(res => {
            console.log('res----', res);
            render(res);
        });
        function render(data) {
            const list = data.map(item => `<li>${item}</li>`);
            console.log('list:::::', list);
            const ulDom = document.querySelector('.list');
            ulDom.innerHTML = list.join('');
        }
    </script>
</body>
</html>